<!--  -->
{% if message.author == request.user.profile %}
<li id="chat_bubble">
  <div class="chat-span">
    <span>{{message.body}}</span>
  </div>
  <!-- end chat span -->
  <div id="svg_box">
    <svg height="13" width="8">
      <path
        fill="#005c4b"
        d="M6.3,10.4C1.5,8.7,0.9,5.5,0,0.2L0,13l5.2,0C7,13,9.6,11.5,6.3,10.4z"
      />
    </svg>
  </div>
  <!-- end chat_bubble -->
</li>
<!-- end chat_bubble | loginUser -->
{% else %}
<li id="guestUser">
  <div class="flex justify-start" id="guest_div">
    <div class="flex items-end" id="sub_div">
      <a href="{% url 'info' message.author.id %}">
        <img
          class="img-fluid rounded-circle"
          src="{{message.author.imageURL}}"
        />
      </a>
    </div>
    <!-- end sub_div -->
    <div class="flex items-end">
      <svg height="13" width="8">
        <path
          fill="#2a3942"
          d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"
        ></path>
      </svg>
    </div>
    <!-- end items-end | svg -->
    <div id="guestMsg">
      <span>{{message.body}}</span>
    </div>
    <!-- end guestMsg -->
  </div>
  <!-- end guest_div -->
  <div id="guest_info">
    <span id="guestName">{{message.author.name}}</span>
    <span id="guestUsername">@{{message.author.username}}</span>
  </div>
  <!-- end guest_info -->
</li>
<!-- end guestUser -->
{% endif %}
<!--  -->
