{% load static %}
<!DOCTYPE html>
<html lang="en" class="js has-scroll-init has-scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Send messages and connect with people using the We-Chat messaging App."
    />
    <meta name="keywords" content="messaging software" />

    <meta name="author" content="the_desiinger" />
    <link rel="icon" href="{% static '/images/favicon.svg' %}" />
    <title>We Chat | Chat Page</title>

    <!-- Preload CSS -->
    <link href="{% static '/css/normalize.css' %}" />
    <link rel="preload" as="style" href="{% static '/css/chat.css' %}" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/chat.css' %}" />

    <script>
      document.documentElement.className = "js";
      var supportsCssVars = function () {
        var e,
          t = document.createElement("style");
        return (
          (t.innerHTML = "root: { --tmp-var: bold; }"),
          document.head.appendChild(t),
          (e = !!(
            window.CSS &&
            window.CSS.supports &&
            window.CSS.supports("font-weight", "var(--tmp-var)")
          )),
          t.parentNode.removeChild(t),
          e
        );
      };
      supportsCssVars() ||
        alert(
          "Please view this work in a modern browser that supports CSS Variables."
        );
    </script>
  </head>
  <body
    id="pageTop"
    class="page-content"
    data-spy="scroll"
    data-target="#mainNav"
  >
    <!--======================== Main-Section ================================-->
    <main>
      <!--=========================================== smooth-scroll-effect ===============================-->
      <div data-scroll class="page page--layout-2" id="main">
        <div class="content content--full content--alternate"></div>
        <!-- End content -->

        <!--=========================================== Hero-Text ===============================-->
        <div id="hero">
          <div class="container-fluid">
            <div class="hero-intro">
              <div class="card d-flex mx-auto">
                <div class="card-body">
                  <h6>
                    <a href="{% url 'profile' %}">
                      <img
                        src="{% static 'images/profile.svg' %}"
                        class="img-fluid rounded-circle"
                        id="user-avatar"
                        alt="user-avatar"
                      />
                      <span>paul_carlos</span>
                    </a>
                  </h6>

                  <!--  -->

                  <div id="messages">
                    <ul id="chat_messages">
                      <li id="chat_bubble">
                        <div class="chat-span">
                          <span>Lorem ipsum dolor sit amet consectetur.</span>
                        </div>
                        <!-- end chat span -->
                        <div id="svg_box">
                          <svg height="13" width="8">
                            <path
                              fill="#005c4b"
                              d="M6.3,10.4C1.5,8.7,0.9,5.5,0,0.2L0,13l5.2,0C7,13,9.6,11.5,6.3,10.4z"
                            />
                          </svg>
                        </div>
                        <!-- end chat_bubble -->
                      </li>
                      <!-- end chat_bubble | loginUser -->

                      <li id="guestUser">
                        <div class="flex justify-start" id="guest_div">
                          <div class="flex items-end" id="sub_div">
                            <a href="">
                              <img
                                class="img-fluid rounded-circle"
                                src="https://pbs.twimg.com/profile_images/508601156767997952/fFTdKUf2_400x400.jpeg"
                              />
                            </a>
                          </div>
                          <!-- end sub_div -->
                          <div class="flex items-end">
                            <svg height="13" width="8">
                              <path
                                fill="#2a3942"
                                d="M2.8,13L8,13L8,0.2C7.1,5.5,6.5,8.7,1.7,10.4C-1.6,11.5,1,13,2.8,13z"
                              ></path>
                            </svg>
                          </div>
                          <!-- end items-end | svg -->
                          <div id="guestMsg">
                            <span>Lorem ipsum dolor sit amet.</span>
                          </div>
                          <!-- end guestMsg -->
                        </div>
                        <!-- end guest_div -->
                        <div id="guest_info">
                          <span id="guestName">Bart</span>
                          <span id="guestUsername">@bart</span>
                        </div>
                        <!-- end guest_info -->
                      </li>
                      <!-- end guestUser -->
                    </ul>
                    <!-- end ul -->
                  </div>
                  <!-- end messages -->

                  <form>
                    <div class="row">
                      <div class="col-2 col-md-1">
                        <img
                          src="{% static 'images/add_media.svg' %}"
                          class="img-fluid"
                          id="chat-icon"
                          alt="add-icon"
                        />
                      </div>
                      <!-- end col -->
                      <div class="col-8 col-md-10">
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="exampleMessageField"
                            placeholder="🙂 Type a message"
                          />
                        </div>
                        <!-- end chat field -->
                      </div>
                      <!-- end col -->
                      <div class="col-2 col-md-1">
                        <img
                          src="{% static 'images/microphone.svg' %}"
                          class="img-fluid mic-img"
                          id="chat-icon"
                          alt="mic-icon"
                        />
                      </div>
                      <!-- end col -->
                    </div>
                    <!-- end row -->
                  </form>
                  <!-- end form -->
                </div>
                <!-- end card-body -->
              </div>
              <!-- end login-card -->
            </div>
            <!-- End hero-intro-->
          </div>
          <!-- End container-fluid -->
        </div>
        <!-- End hero -->
      </div>
      <!-- End page--layout -->
    </main>
    <!-- End Main-Section -->

    <!--=============================================== JavaScript ===================================-->
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <!-- Custom Links -->
    <script src="{% static '/js/jquery-min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
  </body>
</html>
