*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: var(--main-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.line {
  position: relative;
  overflow: hidden;
  display: flex;
}
.line div {
  visibility: hidden;
}

/* Fonts */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Apercu-Bold";
  src: url("../fonts/Apercu-Bold.woff2");
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "GTAmerica-Light";
  src: url("../fonts/GTAmerica-Light.woff2");
}
.page-content {
  --main-color: #111b21;
  --text-color: #f6f6f3;
  --header-font: "Apercu-Bold";
  --text-font: "GTAmerica-Light";
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

/*change color of text highlight*/
::-moz-selection {
  color: var(--main-color);
  background: var(--text-color);
}

::selection {
  color: var(--main-color);
  background: var(--text-color);
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 6px;
}

/****************************************** Hero-Section ************************************/
#hero {
  margin-top: 36%;
}
.hero-intro {
  margin: 3%;
}
.hero-intro .card {
  background: linear-gradient(rgba(32, 36, 44, 0.97), rgba(32, 36, 44, 0.97)),
    url("../images/bg-img.png") center/cover no-repeat; /* Add your image path here */
  border: 1px solid #2a3942;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto;
}
.hero-intro .card-body {
  padding: 0;
  flex: 1; /* Allow the card-body to grow and fill the available space */
  overflow: hidden; /* Hide any overflow content */
}
.hero-intro h6 {
  color: var(--text-color);
  letter-spacing: 1px;
  font-family: var(--header-font);
  font-size: 2.2vh;
  padding: 3%;
  background: #202c33;
  border-bottom: 1px solid #f6f6f353;
}
.hero-intro #user-avatar {
  width: 50px;
}
hr {
  color: var(--text-color);
  opacity: 0.22;
}
#line {
  background: var(--text-color) !important;
  margin-bottom: -1%;
  margin-top: -3%;
  z-index: -1;
}

/* messages */
#messages {
  padding: 3%;
  height: 500px;
  overflow-y: auto;
  z-index: -1;
  flex: 1;
}
/*  */
#chat_bubble {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.chat-span {
  background-color: #005c4b;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 1rem;
  font-family: var(--text-font);
  font-size: 2.1vh;
  letter-spacing: 1px;
  color: var(--text-color);
  max-width: auto;
  text-align: start;
}
#svg_box svg {
  margin-top: 1rem;
}

/* guestUser */
#guest_div {
  display: flex;
  margin-left: -9%;
}
#sub_div {
  align-items: flex-end;
  margin-right: 8px;
}
.flex {
  display: flex;
}
.items-end {
  align-items: flex-end;
}
#guestUser img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}
#guestMsg {
  background-color: #2a3942;
  display: flex;
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  font-size: 2.1vh;
  letter-spacing: 1px;
  max-width: 78%;
  word-wrap: break-word; /* Allow long words to break and wrap */
  white-space: normal; /* Allow text to wrap */
  display: inline-block;
  color: var(--text-color);
  font-family: var(--text-font);
  letter-spacing: 1px;
  /* margin-right: 2%; */
}
#guest_info {
  font-size: 1.9vh;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 18px;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  font-family: var(--header-font);
}
#guestUsername {
  color: #8696a0;
  font-family: var(--text-font);
  font-size: 1.8vh;
}
/*  */

/* form chat-field */
.hero-intro form {
  background: #202c33;
  padding: 2%;
}
.hero-intro form .row {
  margin-top: 1%;
  margin-bottom: 0%;
}
.hero-intro input {
  width: 68vw;
  margin-left: -12%;
  background: #2a3942;
  border: none;
  padding: 7px 20px;
  margin-bottom: -5%;
  font-size: 1.9vh;
}
.hero-intro input:focus {
  box-shadow: none !important;
  outline: 0px !important;
  color: var(--text-color);
  background: #2a3942;
}
.hero-intro form input::placeholder {
  color: #f6f6f6c2;
  font-size: 1.9vh;
}
#chat-icon {
  width: 22px;
  vertical-align: middle;
  margin-top: 14%;
  cursor: pointer;
}
.mic-img {
  margin-left: 40%;
}

/********************** Extra small devices (portrait phones, less than 576px) ****************************/
@media (max-width: 575.98px) {
}
/************************ Small devices (landscape phones, 576px and up) *****************************/
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    display: none;
  }
}
/***************************** Medium devices (tablets, 768px and up) ********************************/
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    display: none;
  }
}
/********************************** Large devices (desktops, 992px and up) *********************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* body {
    display: none;
  } */
}
/************************ Extra large devices (large desktops, 1200px and up) ********************************/
@media (min-width: 1200px) {
  /****** hero-Section ******/
  #hero {
    margin-top: 6%;
  }
  .hero-intro {
    margin: 3%;
  }
  .hero-intro .card {
    margin-top: -1%;
    max-width: 60%;
  }
  .hero-intro h6 {
    letter-spacing: 1px;
    font-size: 2.2vh;
    padding: 1%;
  }
  .hero-intro #user-avatar {
    width: 40px;
  }
  hr {
    opacity: 0.22;
  }
  #line {
    margin-bottom: 6%;
    margin-top: -2%;
  }

  /* messages */
  #messages {
    padding: 2%;
    height: 500px;
  }

  /*  */
  #chat_bubble {
    margin-bottom: 1.1rem;
  }
  .chat-span {
    padding: 1rem;
    font-size: 2vh;
    letter-spacing: 1px;
    max-width: 60%;
  }
  #svg_box svg {
    margin-top: 1rem;
  }

  /* guestUser */
  #guest_div {
    margin-left: -4%;
  }
  #sub_div {
    margin-right: 3px;
  }
  .flex {
    display: flex;
  }
  .items-end {
    align-items: flex-end;
  }
  #guestUser img {
    width: 30px;
    height: 30px;
  }
  #guestMsg {
    padding: 1rem;
    font-size: 2.1vh;
    max-width: 60%;
    letter-spacing: 1px;
  }
  #guest_info {
    font-size: 1.9vh;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
    margin-bottom: 0.5rem;
  }
  #guestUsername {
    font-size: 1.8vh;
  }
  /*  */

  /* form chat-field */
  .hero-intro form {
    padding: 2%;
  }
  .hero-intro form .row {
    margin-top: 1px;
    margin-bottom: 5px;
  }
  .hero-intro input {
    width: 100%;
    margin-left: -1%;
    padding: 7px 20px;
    margin-bottom: -5%;
  }
  #chat-icon {
    width: 20px;
    margin-top: 14%;
  }
  .mic-img {
    margin-left: 42%;
  }
}

/************************ Extra large devices (extra large desktops, 1900px and up) ********************************/
@media (min-width: 2000px) {
  body {
    display: none;
  }
}
